<div class="chat">
  <div *ngIf="!selectedUser" class="no-chat-selected">
    <p>Select a user to start chatting</p>
  </div>

  <div *ngIf="selectedUser" class="chat-container">
    <div class="chat-header">
      <img [src]="selectedUser.photoURL" [alt]="selectedUser.displayName || selectedUser.name || 'User'" class="avatar">
      <span class="name">{{ selectedUser.displayName || selectedUser.name || 'User' }}</span>
    </div>

    <div class="messages-wrapper">
      <div class="messages" #messagesContainer (scroll)="onScroll($event)">
        <div *ngFor="let msg of messages" 
             [class.sent]="msg.sender === currentUser.uid"
             [class.received]="msg.sender !== currentUser.uid"
             class="message">
          <img [src]="msg.senderPhoto" [alt]="msg.senderName" class="avatar">
          <div class="message-content">
            <div class="sender-name">{{ msg.senderName }}</div>
        
        <ng-container *ngIf="msg.text">
          <div class="text">{{ msg.text }}</div>
        </ng-container>

        <ng-container *ngIf="msg.image">
          <img [src]="msg.image.url" 
               [alt]="msg.image.name" 
               class="image-preview"
               (click)="openImage(msg.image.url)" />
        </ng-container>
        
        <ng-container *ngIf="msg.file">
          <div class="file-attachment">
            <i class="fas fa-file"></i>
            <a [href]="msg.file.url" target="_blank" class="file-name">{{ msg.file.name }}</a>
          </div>
        </ng-container>
            <div class="timestamp">
              {{ msg.timestamp | date:'short' }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-area">
      <div class="message-form">
        <button class="emoji-button" (click)="toggleEmojiPicker($event)">
          <i class="far fa-smile"></i>
        </button>

        <input type="text" 
               [(ngModel)]="message" 
               placeholder="Type a message..." 
               (keyup.enter)="sendMessage()">

        <div class="attachment-buttons">
          <input #imageInput
                 type="file"
                 accept="image/*"
                 (change)="onImageUpload($event)"
                 style="display: none">
          
          <input #fileInput
                 type="file"
                 (change)="onFileUpload($event)"
                 style="display: none">

          <button class="attachment-button" (click)="imageInput.click()">
            <i class="far fa-image"></i>
          </button>
          
          <button class="attachment-button" (click)="fileInput.click()">
            <i class="far fa-file"></i>
          </button>
        </div>

        <button class="send-button" (click)="sendMessage()" [disabled]="!message.trim() && !isUploading">
          <i class="far fa-paper-plane"></i>
        </button>
      </div>

      <div class="emoji-picker-container" *ngIf="showEmojiPicker" (clickOutside)="hideEmojiPicker()">
        <emoji-mart [darkMode]="false" 
                   (emojiClick)="addEmoji($event)"
                   [style]="{ width: '100%' }"
                   title="Pick an emoji"></emoji-mart>
      </div>

      <div *ngIf="isUploading" class="upload-progress">
        Uploading...
      </div>
    </div>
  </div>
</div>
